build/*
.vscode/*
files/balfs.img
files/dummy_image
files/filesys.dd
files/k_start_info.txt
files/out_test.txt
files/fs/etc/durinfs
files/TEST_FS/filesys.dd
files/TEST_FS/os-image
files/TEST_FS/save.dd
files/TEST_FS/script.sh
files/defrag-e2c-0.73.1-1.1/*
files/root/*
VBox/*
files/filesys_old.dd
files/filesys.dd.bak
files/ramfs.img
.idea/*
cmake-build-*/

.cache/
toolbox/
logs/
