build/*
.vscode/*
files/balfs.img
files/dummy_image
files/filesys.dd
files/k_start_info.txt
files/out_test.txt
files/TEST_FS/filesys.dd
files/TEST_FS/os-image
files/TEST_FS/save.dd
files/TEST_FS/script.sh
files/defrag-e2c-0.73.1-1.1/.depend
files/defrag-e2c-0.73.1-1.1/buffers.c
files/defrag-e2c-0.73.1-1.1/BUGS
files/defrag-e2c-0.73.1-1.1/ChangeLog
files/defrag-e2c-0.73.1-1.1/defrag-0.61.lsm
files/defrag-e2c-0.73.1-1.1/defrag.8
files/defrag-e2c-0.73.1-1.1/defrag.c
files/defrag-e2c-0.73.1-1.1/defrag.h
files/defrag-e2c-0.73.1-1.1/defrag.spec
files/defrag-e2c-0.73.1-1.1/display-plain.c
files/defrag-e2c-0.73.1-1.1/display.c
files/defrag-e2c-0.73.1-1.1/display.h
files/defrag-e2c-0.73.1-1.1/e2defrag.8
files/defrag-e2c-0.73.1-1.1/e2dump.c
files/defrag-e2c-0.73.1-1.1/ext.c
files/defrag-e2c-0.73.1-1.1/ext.h
files/defrag-e2c-0.73.1-1.1/ext2.c
files/defrag-e2c-0.73.1-1.1/ext2.h
files/defrag-e2c-0.73.1-1.1/frag.8
files/defrag-e2c-0.73.1-1.1/frag.c
files/defrag-e2c-0.73.1-1.1/INSTALL
files/defrag-e2c-0.73.1-1.1/llseek.c
files/defrag-e2c-0.73.1-1.1/Makefile
files/defrag-e2c-0.73.1-1.1/minix.c
files/defrag-e2c-0.73.1-1.1/minix.h
files/defrag-e2c-0.73.1-1.1/misc.c
files/defrag-e2c-0.73.1-1.1/mkilist.sample
files/defrag-e2c-0.73.1-1.1/NEWS
files/defrag-e2c-0.73.1-1.1/README
files/defrag-e2c-0.73.1-1.1/types.h
files/defrag-e2c-0.73.1-1.1/version.h
files/defrag-e2c-0.73.1-1.1/xdump.c
files/defrag-e2c-0.73.1-1.1/xia.c
files/defrag-e2c-0.73.1-1.1/xia.h
files/defrag-e2c-0.73.1-1.1/debian/changelog
files/defrag-e2c-0.73.1-1.1/debian/control
files/defrag-e2c-0.73.1-1.1/debian/copyright
files/defrag-e2c-0.73.1-1.1/debian/dirs
files/defrag-e2c-0.73.1-1.1/debian/postrm
files/defrag-e2c-0.73.1-1.1/debian/preinst
files/defrag-e2c-0.73.1-1.1/debian/rules
files/defrag-e2c-0.73.1-1.1/debian/substvars
files/defrag-e2c-0.73.1-1.1/terminfo/linux
files/defrag-e2c-0.73.1-1.1/terminfo/x
files/defrag-e2c-0.73.1-1.1/terminfo/xterm
files/defrag-e2c-0.73.1-1.1/terminfo/c/console
files/defrag-e2c-0.73.1-1.1/terminfo/v/vt100
VBox/*
files/filesys_old.dd
